/* Add here all your css styles (customizations) */
.g-theme-bg-color-1 { background: linear-gradient(rgba(32, 40, 43, .75),rgba(136, 140, 141, 1));}

.arrow-section-block {
	position: relative;
	padding: 95px 50px 65px;
	overflow: visible;
}
/*.arrow-section-img {
	position: relative;
}
.arrow-section-img:after {
	content: "";
	background-color: rgba(78,67,83,.4);
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}*/

.arrow-section-block:after {
	content: " ";
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -17px;
	border-width: 17px;
	border-style: solid;
	border-right-color: transparent !important;
	border-left-color: transparent !important;
	z-index: 2;
	border-color: #62676A;
}

.g-theme-bg-color-1 .arrow-section-block:after {
	border-color: #62676A;
}

.arrow-section-block.arrow-top:after {
	bottom: 100%;
	border-top-color: transparent;
}

.arrow-section-block.arrow-bottom:after {
	top: 100%;
	border-bottom-color: transparent;
}

.arrow-section-block p {
	font-size: 16px;
	line-height: 26px;
}

#accordian.panel-group
{
	background-color: transparent;
	color: #eee;
}
#benefits-description
{
	margin-bottom: 15px;
}
.panel.panel-default
{
	background-color: transparent;
	border-color: transparent;

}

.panel-default > .panel-heading
{
    background-color:transparent;

}

.panel-default > .panel-heading
{
    background-color:transparent;

}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading
{
	display: inline-block;
	position: relative;
	padding-bottom: 5px;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body
{
	border: none;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading:hover:after {
	width: 100%;
	background: #e74c3c;
}


.benefits-bullets
{
	margin-bottom: 15px;
}

.benefits-container
{
	vertical-align: top;
}

a, a:focus, a:hover, a:active
{
	color: #eee;
	text-decoration: none;
}
