/* Add here all your css styles (customizations) */

/* Acsent bar custom*/
.bar-up{
	margin-top: 15px;
}

.boxed{
	padding: 15px;
  border-radius: 1px;
  box-shadow: 0px 2px 5px #656B6B;
}
.boxed:hover{
	padding: 15px;
  border-radius: 1px;
  box-shadow: 1px 3px 5px #656B6B;
}
/*benefits fa position*/
#benefits-fas{
	font-size: 47px;
	margin-top: -12px;
	margin-right: 38px;
}
.center-font{
	font-size: 30px;
}
/*Awards img*/
.rounded img{
	height: inherit;
	width: inherit;
	border-radius: 500px;
}
/*master background color*/
.g-theme-bg-color-1 { background: linear-gradient(rgba(32, 40, 43, .75),rgba(136, 140, 141, 1));}



/*changes arrow color on about section*/
.arrow-section-block {
	position: relative;
	padding: 95px 50px 65px;
	overflow: visible;
}

.arrow-section-block:after {
	content: " ";
	display: block;
	position: absolute;
	left: 50%;
	margin-left: -17px;
	border-width: 17px;
	border-style: solid;
	border-right-color: transparent !important;
	border-left-color: transparent !important;
	z-index: 2;
	border-color: #656B6B;
}

.g-theme-bg-color-1 .arrow-section-block:after {
	border-color: #656B6B;
}

.arrow-section-block.arrow-top:after {
	bottom: 100%;
	border-top-color: transparent;
}

.arrow-section-block.arrow-bottom:after {
	top: 100%;
	border-bottom-color: transparent;
}

.arrow-section-block p {
	font-size: 16px;
	line-height: 26px;
}


#accordian.panel-group
{
	background-color: transparent;
	color: #eee;
}
#benefits-description
{
	margin-bottom: 15px;
}
.panel.panel-default
{
	background-color: transparent;
	border-color: transparent;

}

.panel-default > .panel-heading
{
    background-color:transparent;

}

.panel-default > .panel-heading
{
    background-color:transparent;

}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading
{
	display: inline-block;
	position: relative;
	padding-bottom: 5px;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body
{
	border: none;
	height: 25em;
	overflow-y: scroll;
}

.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading:after {
	content: '';
	display: block;
	margin: auto;
	height: 3px;
	width: 0px;
	background: transparent;
	transition: width .3s ease, background-color .3s ease;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading:hover:after {
	width: 100%;
	background: #e74c3c;
}


.benefits-bullets
{
	margin-bottom: 15px;
}

.benefits-container
{
	vertical-align: top;
}

a, a:focus, a:hover, a:active
{
	color: #eee;
	text-decoration: none;
}

/*changes header color - master*/
.lawyer-style h1,
.lawyer-style h2,
.lawyer-style h3,
.lawyer-style h4,
.lawyer-style h5,
.lawyer-style h6 {
	color: #656B6B;

}

.g-theme-bg-color-transparent-1 { background: linear-gradient(rgba(32, 40, 43, .75),rgba(136, 140, 141, 1));}
